services:
#   server:
#     build:
#       context: .
#       dockerfile: Dockerfile
#     ports:
#       - "8080:8080"
#       - "8081:8081"  
#     depends_on:
#       - sqlserver
#     environment:
#       - DOTNET_USE_POLLING_FILE_WATCHER=true
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=TransactionDb;User=sa;Password=Your_password123;Encrypt=False;TrustServerCertificate=True;
#   frontend:
#     container_name: angular-client
#     build:
#       context: ./_SaveUpClient
#       dockerfile: Dockerfile
#     ports:
#       - "4200:4200"
#     volumes:
#       - ./_SaveUpClient:/app
#       - /app/node_modules
#     stdin_open: true
#     tty: true
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      SA_PASSWORD: "Your_password123"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
  keycloak:
      image: quay.io/keycloak/keycloak:26.0.5
      depends_on: 
        - sqlserver
      environment:
        KEYCLOAK_ADMIN: admin
        KEYCLOAK_ADMIN_PASSWORD: admin
        KC_DB: mssql
        KC_DB_URL: jdbc:sqlserver://sqlserver:1433;databaseName=keycloak;encrypt=false;trustServerCertificate=true
        KC_DB_USERNAME: sa
        KC_DB_PASSWORD: Your_password123
      ports:
        - 8080:8080
      volumes:
        - ./_SaveUpClient/themes:/opt/keycloak/themes
      command:
        - start-dev
        - --spi-theme-cache-themes=false
        - --spi-theme-cache-templates=false
        - --spi-theme-static-max-age=-1